@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

/*  Percentage is used for inside the parent element 
 <section>
    <div>

    </div>
  </section>


section{
  width: 200px;
  height: 200px;
  background-color: teal;
}

div{
  width: 50%;
  height: 45%;
  background-color: red; 
}

em is font-size 1em is equal to 16px 
p{
 font-size: 2em;
}


rem is 16px font-size 
h4{
  font-size: 2rem;
}


View port width use vw
div{
  background-color: blue;
  width: 25vw;
  height:100px;

// View port hight use vh

div{
  background-color: blue;
  width: 25vw;
  height:50vh;


// <<<<<<<< Typography (Font) >>>>>>>> 

h1{
  font-family: "Inspiration", cursive;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;/* defalut value is left 
  text-decoration: underline;
}

p{
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 25px;
  font-weight:480;
} 

*/

body{
  background-image:linear-gradient(to bottom,rgb(97, 184, 97), rgba(228, 70, 70, 0.595) ),url("https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: whitesmoke;

}
